@using BookStore.Models
@using BookStore.Services

@{
    //取得購物車Session
    Cart currentCart = BookStore.Models.Operation.GetCurrentCart();
}

<div class="cartdropdown">
    <span style="line-height: 64px; color: #ffffff;">&nbsp;&nbsp;&nbsp;&nbsp;@string.Format("共 ${0}元", currentCart.TotalAmount)</span>
    <div class="cartdropdown-content">
        @if (currentCart.Count() > 0)
        {
            foreach (CartItem m in currentCart)
            {
                <p>@m.PrdName</p>
                <h3 style="float: right; margin-right: 10px;">
                    $@m.PrdPrice X @m.BuyQuantity
                    <span class="btn-danger" onclick="RemoveToCart('@m.PrdID')">&nbsp;X&nbsp;</span>
                </h3>
                <br /><hr />
            }

            <button class="cartbtn" onclick="location.href='@Url.Action("Order", "Cart")'">結帳</button>
            @*@Html.ActionLink("結帳", "", "Home", new { @class = "cartbtn", @style = "height: 30px;line-height: 29px;" })*@
            <button class="cartbtn" style="background-color: #d9534f; border-color: #d43f3a;" onclick="ClearToCart()">清空購物車</button>
            @*<input class="cartbtn" style="height: 30px; line-height: 29px;" onclick="ClearToCart()" value="清空購物車">*@
        }
        else
        {
            <p>購物車無任何商品</p>
        }
    </div>
</div>